@import url("https://fonts.googleapis.com/css2?family=Arima&family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --deep-blue: #001f3f;
  --medium-blue: #3a6d8c;
  --light-blue: #6a9ab0;
  --cream: #ead8b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body font to Montserrat */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    text-align: center;
}

form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px; 
    background-color: #ead8b1;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #001f3f;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #3a6d8c;
}

#output {
    margin-top: 20px;
    padding: 100px;
    padding-bottom:200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ead8b1;
    margin-left: 480px;
    margin-right: 480px;
}