@import '../profile.css';

.main-content h1{
  text-align: center;
}

.userSurname h3  {
  margin-bottom: 20px;
} 

/*HISTORY CARD STARTS*/
.translation-history-holder {
  width: 60%;
  margin: auto;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.history-card {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ddd;
  background: var(--cream);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.history-card:hover {
  transform: translateY(-5px); /* Slight lift effect */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px; /* Stronger shadow on hover */
}

.history-card h3 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.history-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1em;
}

.history-card .history-date {
  font-size: 0.9rem;
  color: #888;
}

@media (max-width: 768px) {
  .translation-history-holder {
    width: 90%;
  }
}

.phrase-date {
  display: flex;
  justify-content: space-between;
}

/*HISTORY CARD ENDS*/

/*PAGINATION STARTS*/
.pagination-holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0px;
}

.pagination-button {
  padding: 10px 18px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.pagination-button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination-button:hover {
  background-color: #949090;
}
/*PAGINATION ENDS*/
