@import "../mesimetSearch.css";

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  /* Box Design */
  .box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .box img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .box h2 {
    font-size: 1.1rem;
    color: #333;
  }
  
  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }

  /* Mesimet Intro */
  .quiz-intro {
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    background: linear-gradient(135deg, var(--light-blue), var(--cream));

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-intro h2 {
    font-size: 24px;
    color: #fff;
  }
  
  .quiz-intro p {
    font-size: 16px;
    color: #fff;
    margin: 15px 0;
  }
  
  .quiz-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--deep-blue);
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
  
  .quiz-button:hover {
    background-color: var(--medium-blue);
  }
  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  
    .search-bar {
      width: 90%;
    }
  }
  