@import url("https://fonts.googleapis.com/css2?family=Arima&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import "navbar-footer.css";

:root {
  --deep-blue: #001f3f;
  --medium-blue: #3a6d8c;
  --light-blue: #73a7c7;
  --cream: #ead8b1;
  --dark-cream: #c7b388;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #113356;
  color: #333;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 50px;
  margin: 5px 10px; /* Adjust the margin values as needed */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #295786; 
  border-radius: 10px;
  background: #295786; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27486a; 
}

.hero {
  text-align: center;
  padding: 40px 15px;
  background: linear-gradient(135deg, var(--medium-blue), var(--dark-cream));
  color: #fff;
  border-bottom-left-radius: 80px; 
  border-bottom-right-radius: 80px; 
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.hero i{
  font-size: 2rem;
}

.hero h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.hero h1 span{
  color: var(--cream);
}

.hero p {
  font-size: 1.1rem;
  margin: 0;
  padding: 0 50px;
}

@media (max-width: 768px) {
  .hero i{
    font-size: 1.4rem;
  }
  
  .hero h1 {
    font-size: 1.9rem;
    margin-bottom: 10px;
  }
  
  .hero h1 span{
    color: var(--cream);
  }
  
  .hero p {
    font-size: 0.9rem;
    margin: 0;
    padding: 0 30px;
  }
}

