@import url("https://fonts.googleapis.com/css2?family=Arima&family=Montserrat:wght@400;500;600;700&display=swap");
@import "navbar-footer.css";

:root {
  --deep-blue: #001f3f;
  --medium-blue: #3a6d8c;
  --light-blue: #73a7c7;
  --cream: #ead8b1;
  --dark-bg: #212121;
  --dark-text: #d3d3d3;
  --dark-accent: #3a6d8c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #113356;
  color: #333;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 50px;
  margin: 5px 10px; /* Adjust the margin values as needed */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #295786; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27486a; 
}