@import "../../quiz/quiz.css";
@import "../profile.css";

.container {
  all: unset; 
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: row; 
  margin: 10px;
}

#game{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.choices{
  display: flex;
  flex-direction: row;
}

#secondDiv{
  width: 80%;
  background-color: #fff;
}

.end-button-container{
  padding: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    gap: 10px;
  }
}
