.quiz-container {
    text-align: center;
    margin: 20px auto;
}

.image-row {
    display: flex;
    justify-content:center;

}

.quiz-container img {
    cursor: pointer;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 200px;
}

img:hover {
    border-color: #007bff;
}

#user-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#submit-btn {
    padding: 10px 20px;
    background-color: #6a9ab0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#submit-btn:hover {
    background-color: #3a6d8c;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}