@import url("https://fonts.googleapis.com/css2?family=Arima&family=Montserrat:wght@400;500;600;700&display=swap");
@import "navbar-footer.css";

:root {
    --deep-blue: #061c33;
    --medium-blue: #3a6d8c;
    --light-blue: #6a9ab0;
    --cream: #ead8b1;
  }
  
  /* CSS Styling */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* General body font to Montserrat */
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Ensure the body takes full height */
      font-family: "Montserrat", sans-serif;
      line-height: 1.6;
      background-color: #f4f4f4;
  }
    
  #description {
      text-align: center;
      margin: 20px 0;
  }
  
  #season-container {
      display: flex;
      justify-content: center; /* Center the items horizontally */
      gap: 20px;
      flex-grow: 1; /* Allow the container to grow and center vertically */
      align-items: center; /* Center items vertically within the container */
      margin-bottom: 60px;
  }
    
  .season {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Hover effects for each season */
  #spring, #summer, #fall, #winter {
    background-color: #6a9ab0;
  }
  
  /* Animation when clicked */
  .season.animate {
    transform: scale(1.2) rotate(15deg);
    transition: transform 0.5s ease;
  }
  
  /* Video Modal */
#video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Dark opaque background */
    display: none; /* Hidden by default */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    z-index: 1000; /* Ensure modal is on top */
  }
  
  .modal-content {
    background: #fff; /* White background for the modal content */
    border-radius: 10px;
    padding: 20px;
    max-width: 600px; /* Set a max width for the modal content */
    width: 100%; /* Full width */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }
  
  #video-modal video {
    width: 100%;
    border-radius: 10px;
  }
  
  #close-btn {
    color: #000;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
  }
  