h2.content-title {
  font-size: 2rem;
  color: #001f3f;
}

p {
  margin: 10px 0;
}

hr {
  border: none;
  height: 2px;
  background-color: #001f3f;
  margin: 20px auto;
  width: 70%;
}

/* Section Styles */
.about-us {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.about-us.reverse {
  flex-direction: row-reverse;
}

.content {
  max-width: 600px;
}

.image-circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
}

/* How It Works */
.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.step {
  position: relative;
  background: linear-gradient(145deg, var(--cream), var(--dark-cream));
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, var(--dark-cream), var(--cream));
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.step:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.step:hover::before {
  opacity: 1;
}

.step > * {
  position: relative;
  z-index: 2;
}

.step i {
  color: #001f3f;
  font-size: 24px;
}

.step h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #001f3f;
}

/* Call to Action */
.cta {
  text-align: center;
  padding: 20px;
}

 button{
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  background: var(--deep-blue);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

 button:hover {
  background: var(--medium-blue);
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
  }

  .image-circle {
    width: 200px;
    height: 200px;
  }

  .steps {
    grid-template-columns: 1fr;
  }
}
