.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fb;
  padding: 20px;
  box-sizing: border-box;
}

.reset-password-form-wrapper {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 380px;
}

.reset-password-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
}

.auth-input-box {
  position: relative;
  flex: 1;
}

.auth-input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background-color: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 10px 0px;
}

.auth-input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.auth-input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.reset-password-button {
  padding: 12px;
  font-size: 16px;
  background-color: var(--medium-blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-password-button:hover {
  background-color: var(--deep-blue);
}

.reset-password-message {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.reset-password-message.success {
  color: green;
}

.reset-password-message.error {
  color: red;
}
