@import "../admin.css";

#admin-signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group i {
  position: absolute;
  left: 10px;
  color: #888;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 36px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: var(--medium-blue);
  outline: none;
}

.submit-button {
  padding: 12px;
  background-color: var(--light-blue);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: var(--medium-blue);
}

#admin-signup-error-message,
#admin-signup-success-message {
  margin-top: 10px;
  font-size: 0.9rem;
}
