*{
  list-style: none;
}
.faq-container {
  width: calc(100% - 250px);
}

.faq-h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #001f3f;
}

.faq-h2 {
  color: #3a6d8c;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.faq-section {
  background-color: var(--cream);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.faq-list {
  list-style-type: none;
}

.faq-list li {
  padding: 10px;
  background-color: #fafafa;
  margin: 10px 0;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
  padding: 8px 15px;
  background-color: #73a7c7;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

button:hover {
  background-color: #3a6d8c;
}

button:active {
  background-color: #001f3f;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Scrollbar */
.faq-list::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.faq-list::-webkit-scrollbar-thumb {
  background-color: #3a6d8c;
  border-radius: 6px;
}

.faq-list::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 6px;
}

button.btn-delete{
 background: rgb(102, 0, 0);
}

button.btn-edit{
  background: rgb(102, 66, 0);
 }
 

button:hover {
  background-color: #3a6d8c;
}

/*Modals*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  color: var(--medium-blue);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}



@media (max-width: 768px) {
  .faq-container {
    width: 100%;
  }
}
