/* AUTH PAGE */
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

.auth-container {
  position: relative;
  width: 850px;
  height: 550px;
  background-color: var(--cream);
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
}

.auth-logo-container {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
}

.auth-logo-container img {
  max-width: 120px; /* Adjust the size as needed */
  height: auto;
}

.auth-form-box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--cream);
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: 0.4s ease-in-out 0.4s, visibility 0s 0.2s;
}

.auth-container.active .auth-form-box {
  right: 50%;
}

.auth-form-box.register {
  visibility: hidden;
}

.auth-container.active .auth-form-box.register {
  visibility: visible;
}

.auth-form {
  width: 100%;
}

.auth-container h1 {
  font-size: 36px;
}

.auth-input-row {
  display: flex;
  gap: 8px;
}

.auth-input-box {
  position: relative;
  flex: 1;
}

.auth-input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background-color: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 10px 0px;
}

.auth-input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.auth-input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.forgot-link {
  margin: 4px;
}

.forgot-link a {
  font-size: 14.5px;
  color: #333;
  text-decoration: none;
}

.auth-btn, .guest-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 48px;
  background: var(--medium-blue);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}
.guest-login-btn {
  background: var(--light-blue);
}

.guest-login-btn i{
  align-items: center;
  justify-content: center;
}


.auth-btn:hover, .guest-login-btn:hover {
  opacity: 70%;
}

.auth-container p {
  font-size: 14.5px;
  margin: 15px 0;
}

.auth-container .social-icons {
  display: flex;
  justify-content: center;
}

.auth-container .social-icons a {
  display: inline-flex;
  padding: 10px;
  border: 2px solid var(--medium-blue);
  border-radius: 8px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin: 0 8px;
  transition: 0.3s;
}

.auth-container .social-icons a:hover {
  scale: 1.1;
}

.toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Toggle Panel */
.toggle-box::before {
  content: "";
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: var(--medium-blue);
  border-radius: 150px;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.auth-container.active .toggle-box::before {
  left: 50%;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  /* background-color: var(--medium-blue); */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.2s ease-in-out;
}

.toggle-panel.toggle-left {
  left: 0;
  transition-delay: 0.4s;
}

.auth-container.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.2s;
}

.toggle-panel.toggle-right {
  right: -50%;
  transition-delay: 0.4s;
}

.auth-container.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 0.4s;
}

.toggle-panel .auth-btn {
  width: 160px;
  height: 46px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .auth-container {
    height: calc(100vh - 40px);
  }

  .auth-form-box {
    bottom: 0;
    width: 100%;
    height: 70%;
  }

  .auth-container.active .auth-form-box {
    right: 0;
    bottom: 30%;
  }

  .toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 20vw;
  }

  .auth-container.active .toggle-box::before {
    left: 0;
    top: 70%;
  }

  .toggle-panel {
    width: 100%;
    height: 28%;
  }

  .toggle-panel.toggle-left {
    top: 0;
  }

  .auth-container.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }

  .auth-container.active .toggle-panel.toggle-right {
    bottom: 0;
  }
}

@media (max-width: 480px) {
  .auth-container p {
    margin: 8px 0;
  }
  .auth-form-box {
    padding: 20px;
  }

  .toggle-panel h1 {
    font-size: 24px;
  }
}
